*{
 padding: 0%;
 margin: 0%;
}

.header{
  background-color: rgb(3, 18, 58);
  height: 50px;
  color: rgb(255, 145, 11);
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;

}

.images{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  
}

img{
 height: 180px;
 width: 180px;
 object-fit: cover;
 transform: rotate(-90deg);
 border-radius: 50%;
 transition: transform 0.9s ;
}

img:hover{
    box-shadow: 0px 0px 20px rgba(1, 24, 24, 0.3);
    transform: scale(1.05);
}

.image{
  margin: 10px;
}

.scores{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.myscores{
  height: 150px;
  width: 150px;
  /* background-color: aqua; */
 
}

h2{
 padding-left: 50px;
}

p{
 margin-top: 5px;
}

.compscores{
    height: 150px;
    width: 150px;
    /* background-color: blue; */
    
  }

footer{
  /* background-color: rgb(9, 9, 14); */
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status{
 background-color: rgb(12, 6, 6);
 width: 300px;
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: larger;
 border: 3px solid blue;
 border-radius: 7px;
 transition: transform 0.9s ;
}

.status:hover{
    box-shadow: 0px 0px 5px rgba(1, 24, 24, 0.3);
    transform: scale(1.05);
}